@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

#main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    font-family: Montserrat;
}

form {
    background: linear-gradient(45deg, #163020, #cafddd);
    width: 40%;
    padding: 20px;
    border-radius: 16px;
}

a {
    font-weight: 900;
    color: white;
}

button {
    background-color: white;
    border-style: solid;
    border: white;
    font-weight: 900;
    font-size: 20px;
    margin: 20px auto;
    color: #304D30;
    padding: 10px 50px;
    cursor: pointer;

}
label {
    font-weight: 900;
}

form h1 {
    color: white;
}

form input {
    padding: 10px;
    width: 96%;
    margin: 10px auto;
}

@media (max-width: 500px) {
    form {
        width: 80%;

    }
}